
:root {
    --Background : #1c1817 ;
    --Secondary : #1a2c2d ;
    --Primary : #5e6d6e ;
    --Accent : #bf3831 ;
    --Text : #f5f9f9 ;
}


* {
    
    box-sizing : border-box ;

    font-family : monospace ;
    font-size : 18px ;
    color : var( --Text ) ;
}

body {
    margin : 0 ;
}


#Input {

    height : 100dvh ;

    background : var( --Secondary ) ;

    border-radius : 8px ;

    grid-template-columns : 1fr auto ;
    grid-gap : 1rem ;
    display : grid ;

    padding : 0.75rem 1.25rem ;

    margin : 0 ;
}

#Input [ name = message ]{
    
    background : transparent ;
    outline : none ;
    border : none ;
    resize : none ;
    
    font-size : 20px ;
    color : var( --Text ) ;
    
    padding : 0.25rem 0.25rem ;
    height : 100% ;
}

#Input [ name = message ]::placeholder {
    color : var( --Primary ) ;
}
