
:root {
    --background : #1c1817 ;
    --secondary : #1a2c2d ;
    --primary : #5e6d6e ;
    --accent : #bf3831 ;
    --text : #f5f9f9 ;
    --positive : green ;
}


* {
    font-family : monospace ;
    font-size : 18px ;
    color : var( --text ) ;
    box-sizing: border-box;
}

html {
    color : red ;
}

html {
    overflow : clip ;
}

body {
    margin : 0 ;
}


form {
    position : relative ;
    display : flex ;
    justify-content: center;
    margin-top : 0.3em ;
}


form > input {
    border : none ;
    inset : 0 ;
    padding : 10px ;
    padding-top : 16px ;
    background : transparent ;
    outline : none ;
    color : var( --text ) ;
    font-size : 1em ;
    transition : 0.24s ;
    letter-spacing: 1px;
    text-align: center;
    border : 1px solid var( --primary ) ;
    border-radius : 5px ;
}

form > input[ type = password ]:is( :valid , :focus-within ){
    letter-spacing : 0 ;
}

input[ type = password ]:not(:placeholder-shown):invalid ~ label ,
input[ type = password ]:not(:placeholder-shown):invalid {
    border-color : var( --accent ) ;
}

input[ type = password ]:valid ~ label ,
input[ type = password ]:valid {
        border-color : var( --positive ) ;
}

form > label {
    position : absolute ;
    pointer-events : none ;
    color : var( --text ) ;
    font-size : 0.6em ;
    border-radius : 2px ;
    letter-spacing : 0.2em ;
    text-transform : uppercase ;
    font-weight : bold ;

    inset: auto calc(50% - 8ch) ;
    transform: none;
    top: calc( 1px - 0.6em );
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c1817;
    border: 1px solid gray;
    border-width : 0 1px
}


input[ type = submit ]{
    outline: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    transition : 0.25s ;
    color : var( --primary ) ;
    font-weight : bold ;
}

input[ type = submit ]:focus-within {
    border-color : var( --accent ) ;
    color : var( --accent ) ;
}

input[ type = submit ]:hover {
    border-color : var( --primary ) ;
    background : var(--primary) ;
    color : white ;
}

input[ type = password ]:invalid ~ input[ type = submit ] {
    pointer-events : none ;
    user-select : default ;
    opacity : 0.5 ;
}

form {
    flex-direction : column ;
    display : flex ;
    align-items : center ;
    gap : 0.5rem ;
}

input {
    width : 100% ;
}
