
button:active {
    opacity : 0.5 ;
    filter : grayscale() ;
}

button::before {
    content : '' ;
}


form {
    cursor : default ;

    grid-template-columns : repeat( auto-fill , 64px ) ;
    display : grid ;
    gap : 10px ;

}

#reactions button {

    background-color : transparent ;
    background-size : contain ;
    outline : none ;
    cursor : pointer ;
    border : none ;
    color : transparent ;

    height : 64px ;
    width : 64px ;

    border-radius : 4px ;

    transition : 0.1s ;

    background-origin : content-box ;
    background-repeat : no-repeat ;

    padding : 3px ;
}


#reactions button:hover {
    background-color : #ffffff1a ;
}

/* .cell {
    z-index: 2;
    width : 100% ;
    height : 100% ;
} */


.Hoverer {
    pointer-events: none;
    position: absolute;
    inset: 0;
}


.Category {
    width : 50% ;
    height : 30px ;
    background : orange ;
}

.Category:hover {
    background : yellow ;
}


.Category::before {
    content : '' ;
}
