
:root {
    --background : #1c1817 ;
    --secondary : #1a2c2d ;
    --primary : #5e6d6e ;
    --accent : #bf3831 ;
    --text : #f5f9f9 ;
}


* {
    font-family : monospace ;
    font-size : 18px ;
    color : var( --text ) ;
}

html {
    overflow : hidden ;
}

body {
    margin : 0 ;
    padding : 2rem ;
}


.Form_Input {

    position : relative ;
    width : 250px ;
    display : flex ;
    height : 46px ;
    align-items: center;


    & > div {
        border : 1px solid var( --primary ) ;
        inset : 0 ;
        border-radius : 5px ;
        inset : 0 ;
        position : absolute ;
        pointer-events : none ;
    }

    & > input {
        position : absolute ;
        border : none ;
        inset : 0 ;
        padding : 10px ;
        background : transparent ;
        outline : none ;
        color : var( --text ) ;
        font-size : 1em ;
        transition : 0.24s ;

        &:is( :valid , :focus-within ){
            translate: 0 2px;
            font-size: 0.9em;
        }

        &:is(:valid,:focus-within) ~ div {
            border-color : var( --accent ) ;
        }

        &:is(:valid,:focus-within) ~ label {
            inset : unset ;
            top : 0 ;
            left : 0 ;
            color : var( --text ) ;
            transform : translate( 10px , -7px ) ;
            font-size : 0.6em ;
            padding : 2px 10px ;
            border-radius : 2px ;
            letter-spacing : 0.2em ;
            text-transform : uppercase ;
            background : var( --accent ) ;
            font-weight : bold ;
        }
    }

    & > label {
        position : absolute ;
        left : 0 ;
        padding : 10px 15px ;
        pointer-events : none ;
        font-size : 1em ;
        color : var( --primary ) ;
        transition: 0.24s;
    }
}

input[ type = submit ]{
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    border : 1px solid var( --primary ) ;
    padding: 10px;
    width: 250px;
    cursor: pointer;
    transition : 0.25s ;
    color : var( --primary ) ;
    font-weight : bold ;
}

input[ type = submit ]:focus-within {
    border-color : var( --accent ) ;
    color : var( --accent ) ;
}

input[ type = submit ]:hover {
    border-color : var( --primary ) ;
    background : var(--primary) ;
    color : white ;
}

form {
    flex-direction : column ;
    display : flex ;
    align-items : center ;
    gap : 0.5rem ;
}

