
:root {
    --background : #1c1817 ;
    --secondary : #1a2c2d ;
    --primary : #5e6d6e ;
    --accent : #bf3831 ;
    --text : #f5f9f9 ;
    --positive : green ;
}


* {
    font-family : monospace ;
    font-size : 18px ;
    color : var( --text ) ;
}

html {
    color : red ;
}

html {
    overflow : clip ;
}

body {
    margin : 0 ;
}


.Form_Input {

    position : relative ;
    display : flex ;
    justify-content: center;
    margin-top : 0.3em ;
}

.Form_Input > div {
    border : 1px solid var( --primary ) ;
    inset : 0 ;
    border-radius : 5px ;
    inset : 0 ;
    position : absolute ;
    pointer-events : none ;
}

.Form_Input > input {
    border : none ;
    inset : 0 ;
    padding : 10px ;
    padding-top : 16px ;
    background : transparent ;
    outline : none ;
    color : var( --text ) ;
    font-size : 1em ;
    transition : 0.24s ;
    letter-spacing: 1px;
    text-align: center;
}

.Form_Input > input:is( :valid , :focus-within ){
    letter-spacing : 0 ;
}

.Form_Input > input:not(:placeholder-shown):invalid ~ :is( div , label ) {
    border-color : var( --accent ) ;
}

.Form_Input > input:valid ~ :is( div , label ) {
    border-color : var( --positive ) ;
}

.Form_Input > label {
    position : absolute ;
    pointer-events : none ;
    color : var( --text ) ;
    font-size : 0.6em ;
    border-radius : 2px ;
    letter-spacing : 0.2em ;
    text-transform : uppercase ;
    font-weight : bold ;

    inset: auto calc(50% - 8ch) ;
    transform: none;
    top: calc( 1px - 0.6em );
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c1817;
    border: 1px solid gray;
    border-width : 0 1px
}


input[ type = submit ]{
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    border : 1px solid var( --primary ) ;
    padding: 10px;
    cursor: pointer;
    transition : 0.25s ;
    color : var( --primary ) ;
    font-weight : bold ;
}

input[ type = submit ]:focus-within {
    border-color : var( --accent ) ;
    color : var( --accent ) ;
}

input[ type = submit ]:hover {
    border-color : var( --primary ) ;
    background : var(--primary) ;
    color : white ;
}

form {
    flex-direction : column ;
    display : flex ;
    align-items : center ;
    gap : 0.5rem ;
}

form > * {
    width : 100% ;
}

