
:root {
    --background : #1c1817 ;
    --secondary : #1a2c2d ;
    --primary : #5e6d6e ;
    --accent : #bf3831 ;
    --text : #f5f9f9 ;


    ---Unselected : var(--background) ;
    ---Selected : white ;
}


* {
    font-family : monospace ;
    font-size : 18px ;
}

body {
    height : calc( 100% - 16px ) ;
}

form {
    margin : 0 ;
}


.Messages {
    flex-grow : 1 ;
    display: flex;
    flex-direction: column;
    gap: 0.335rem;
    color: var(--text);
    padding: 0.5rem;
    overflow-y: scroll;
}

input[ name = MessageId ]{
    display : none ;
}

.Message {

    border-radius : 4px ;
    border : 1px solid transparent ;
    border-width : 0 0 0 2px ;

    padding : 0 1rem ;

    cursor : pointer ;

    transition :
        border-color 200ms ease-in-out ,
        background 100ms ease-in-out ;
}

.Message:hover {
    background : #657576 ;
}

.Message p {
    margin-bottom : 0.5rem ;
}


.Message .Emotes {
    display : flex ;
    gap : 0.5rem ;
}

.Message .Emote {

    position : relative ;

    padding : 0.1rem 0.3rem ;

    background : #ffffff14 ;
    border-radius : 5px ;
    border : 1px solid #ffffff5c ;

    font-family : sans-serif ;
    font-weight : 600 ;
    line-height : 1 ;
}

.Message .Emote span {

    vertical-align : baseline ;
    font-size : 100% ;

    margin-left : 0.3rem ;
}

.Message .Emote img {

    vertical-align : middle ;

    height : 16px ;
    width : 16px ;
}





iframe[ name = void ]{
    display : none ;
}
