
:root {
    --background : #1c1817 ;
    --secondary : #1a2c2d ;
    --primary : #5e6d6e ;
    --accent : #bf3831 ;
    --text : #f5f9f9 ;
}


* {
    font-family : monospace ;
    font-size : 18px ;
    color : var( --text ) ;
}

h1 {
    font-size : 2rem ;
}


body {
    flex-direction : column ;
    align-items : stretch ;
    display : flex ;
    padding : 0 4rem ;
    margin : 4rem auto ;
    gap : 2rem ;

    background : var( --background ) ;
    width : fit-content ;
}

#Messages {

    background : var( --primary ) ;

    max-width : 100% ;
    width : 800px ;
    height : 600px ;

    border-radius : 8px ;
    border : none ;
}

iframe {
    border : none ;
}


.TestingA:active {
    background-image : url(/Action/Test?wow=1) ;
}

.TestingB:active {
    background-image : url(/Action/Test?wow=2) ;
}

