
:root {
    --background : #1c1817 ;
    --secondary : #1a2c2d ;
    --primary : #5e6d6e ;
    --accent : #bf3831 ;
    --text : #f5f9f9 ;
}


* ,
*::before ,
*::after {
    box-sizing : border-box ;
}

* {
    font-family : monospace ;
    font-size : 18px ;
    color : var( --text ) ;
    margin : 0 ;
    padding : 0 ;
    min-width : 0 ;
}

html {
    color-scheme : dark light ;
    hanging-punctuation : first last ;
}

body {
    background : var( --background ) ;
    min-height : 100dvh ;
    display : flex ;
    justify-content : center ;
    /* max-height : 100dvh ; */
    /* overflow : clip ; */
}

main {

    max-width : 1000px ;

    overflow : clip ;

    display: grid;
    grid-template-columns: 1fr ;
    gap : 1rem ;

    margin-block : 2rem ;
}

picture , video , img , svg {
    max-width : 100% ;
    display : block ;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    text-wrap : balance ;
}

li , p {
    max-width : 60ch ;
    text-wrap : pretty ;
}



h1 {
    font-size : 2rem ;
}




.Sidebar {
    border: 2px solid var(--primary);
    border-radius: 8px;
    height : calc( 100% - 4px ) ;
    display : none ;
}

.Sidebar > div {
    width : 60px ;
    height : 60px ;
    padding : 20% ;
    cursor : pointer ;
}

.Sidebar > div > div {
    background : var( --primary ) ;
    mask-clip: padding-box;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    width : 100% ;
    height : 100% ;
}

.Sidebar > div:hover > div {
    background : white ;
}

.Sidebar svg {
    width :100% ;
    height : 100% ;
    fill : white ;
}

.Main {
    flex-direction : column ;
    align-items: center;
    display : flex ;
    padding : 0 4rem ;
    gap : 1rem ;
}

#Messages {

    background : var( --primary ) ;

    max-width : 100% ;
    width : 100% ;
    height : 600px ;

    border-radius : 8px ;
    border : none ;
}

iframe {
    border : none ;
}




.TestingA:active {
    background-image : url(/Action/Test?wow=1) ;
}

.TestingB:active {
    background-image : url(/Action/Test?wow=2) ;
}


#Auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

#Auth > * {
    height : 110px ;
}


#Input {
    height : 50px ;
    width : 100% ;
}


#Chatting {
    width : 100% ;
}

#Logout {
    height : 50px ;
    width : 300px ;
}


/*

#Chatting {
    background-image: linear-gradient(white 1px, transparent 2px), linear-gradient(90deg, white 1px, transparent 2px);
    background-size: 20px 20px;
    background-position: 0 0;

    animation-name: test;
    animation-direction : normal;
    animation-fill-mode: forwards;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    width: 100%;
min-height: 600vh;
max-width: 600px;
}

.Main {
    perspective: 1000px;
    perspective-origin: 50% 50%;
    position: absolute;
inset: 0;
transform-style: preserve-3d;
backface-visibility: hidden;
}

#Messages {
    background : none ! important ;
}

@keyframes test {

    from {
        transform: rotateX(80deg) translateY(0) translateZ(260vh)
    }

    to {
        transform: rotateX(80deg) translateY(-200vh) translateZ(260vh)
    }
} */


#LoggedIn {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.AccountId {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AccountId input {
    display : none ;
}

.AccountId label {
    border-radius: 5px;
    background: transparent;
    border : 1px solid var( --primary ) ;
    padding: 10px;
    width: 250px;
    cursor: pointer;
    color : var( --primary ) ;
    font-weight : bold ;
    position: relative;
}

.AccountId input:not(:checked) ~ label::before {
    content : '•••• •••• •••• ••••' ;
    color : var(--primary) ;
    position: absolute;
    inset: 0;
    padding: 10px;
    white-space: nowrap;
    text-align: center;
    translate: 0px 3px;
}

.AccountId input:checked ~ label {
    color: white !important;
    text-align: center;
    letter-spacing: 0.1rem;
}

