

:host {

    display : grid ;

    aspect-ratio : 1 ;
    width : 32px ;
}

:host > * {

    grid-area : 1 / 1 ;

    min-height : 0 ;
    min-width : 0 ;

    height : 100% ;
    width : 100% ;

    display : block ;
}

img {
    object-position : center ;
    object-fit : contain ;
}

iframe { 
    border : none ;
}


iframe {
    border-radius : 4px ;
    aspect-ratio : 1 ;
    display : block ;
    width : 100% ;
}

iframe:hover {
    background : #ffffff1f ;
}

iframe:active {
    background : #ffffff2f ;
}