
:root {
    --background : #1c1817 ;
    --secondary : #1a2c2d ;
    --primary : #5e6d6e ;
    --accent : #bf3831 ;
    --text : #f5f9f9 ;


    ---Unselected : var(--background) ;
    ---Selected : white ;
}


* {
    font-family : monospace ;
    font-size : 18px ;
}

body {
    height : calc( 100% - 16px ) ;
}

form {
    margin : 0 ;
}


.Messages {
    flex-grow : 1 ;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: var(--text);
    padding: 0.5rem;
    overflow-y: auto;
}

input[ name = MessageId ]{
    display : none ;
}

.Message {

    /* -Inf -> +Inf | 0 = Message is selected */

    ----Delta : ( var( --Selected_Message ) - var( ----Message_Index ) ) ;

    /* 0 - Inf | Absolute */

    ----Abs : max( var( ----Delta ) , -1 * var( ----Delta ) ) ;

    /* 0 or 1 | Normalizing */

    ----Norm : clamp( 0 , var( ----Abs ) , 1 ) ;

    /* Percentage */

    ----Percent : calc( 100 * var( ----Norm ) ) ;
    ----Invert-Percent : calc( 100 - var( ----Percent ) ) ;

    ----Unselect-Percent : calc( 1% * var( ----Percent ) ) ;
    ----Select-Percent : calc( 1% * var( ----Invert-Percent ) ) ;


    /* Switch between 2 colors */

    ----Border : color-mix( in srgb
        , var( ---Unselected ) var( ----Unselect-Percent )
        , var( ---Selected ) var( ----Select-Percent )
    ) ;


    border-radius : 4px ;
    border : 1px solid var( ----Border ) ;
    border-width : 0 0 0 2px ;

    padding-inline : 1rem 0.25rem ;
    padding-block : 0.25rem ;

    cursor : pointer ;

    transition :
        border-color 200ms ease-in-out ,
        background 100ms ease-in-out ;

    display: grid;
    grid-template-columns: 1fr auto;

    position : relative ;
}

.Message:hover {
    background : #657576 ;
}

.Message p {
    margin-block : 0 ;
}

.Message span {
    user-select : none ;
}

.Message .Emotes {
    margin-top : 0.5rem ;
    display : flex ;
    gap : 0.5rem ;
    user-select : none ;
}

.Message .Emotes:empty {
    display : none ;
}

.Message .Emote {

    position : relative ;

    padding : 0.15rem 0.4rem ;

    background : #ffffff14 ;
    border-radius : 5px ;
    border : 1px solid #ffffff5c ;

    font-family : sans-serif ;
    font-weight : 600 ;
    line-height : 1 ;

    display : flex ;
}

.Message .Emote span {

    vertical-align : baseline ;
    font-size : 100% ;

    margin-left : 0.3rem ;

    translate : 0 2px ;
}

.Message .Emote img {

    vertical-align : middle ;

    aspect-ratio : 1 ;
    width : 20px ;
}

.Message:not(:hover) .Options {
    opacity : 0 ;
    transition : all 50ms ease-in-out ;
}


.Options {

    border-radius : 3px ;
    background : #1a2c2d ;
    padding : 2px ;

    position : absolute ;
    inset-block : 0 ;
    right : 0 ;

    margin-block : auto ;

    max-height : 1.5rem ;
    width : fit-content ;

    justify-content : flex-end ;
    align-items : stretch ;
    display : flex ;
    gap : 0.5rem ;

    transition : all 100ms ease-in-out ;
}


.Options > * {

    aspect-ratio : 1 / 1 ;

    text-align : center ;

    justify-content : center ;
    align-items : center ;
    display : flex ;
}



iframe[ name = void ]{
    display : none ;
}
